#footer {
    width: 100%;
    background-color: #333;
    color: #FFF;
    margin-top: 15px;
}

#footer .row {
    padding: 40px 50px;
    margin-bottom: 0px;
}

#footer .row div {
    padding: 0px 30px;
    text-align: justify;
}

#footer h5 a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 22px
}

.footer-nav {
    margin: 0;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a {
    color: #FFF;
}