#ulFeatureList {
    margin-left: 40px;
    column-count: 2;
    /* column-gap: 50px; */
    margin-top: 40px;
}

#ulFeatureList li {
    height: 140px;
    margin-bottom: 15px;
    list-style-type: none;
}

.top-border {
    border-top: 2px solid #ccc;
}

.li-header {
    text-transform: uppercase;
    font-size: 18px;
    color: #42a5f5;
    display: block;
    padding-bottom: 5px;
}

#divLogoContainer {
    /* position: absolute; */
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    z-index: 1;
}

#divStyle {
    position: relative;
    background-color: black;
    color: #FFF;
    width: 100%;
    height: 324px;
    transform: skewY(5deg);
}

#divOverview {
    font-family: 0;
    text-align: center;
}

.logo-text {
    font-size: 50px;
}

#divLogoContainer div .logo-tagline {
    display: block;
}

#divLogoContainer .app-name {
    font-size: 200px;
    font-family: -webkit-body;
}

@media only screen and (max-width: 600px) {
    #divLogoContainer .app-name {
        font-size: 100px;
    }
}

#divLinkGroup {
    text-align: center;
    margin-top: 30px;
}

#divLinkGroup a {
    padding: 10px 30px;
}

/*mobile*/

@media only screen and (min-width:450px) {
    #ulFeatureList li {
        height: 120px;
    }

    #divLinkGroup a:last-child {
        margin-left: 0px;
    }
}

/*tab*/

@media only screen and (min-width:600px) {
    #divLogoContainer div .logo-tagline {
        display: inline-block;
    }

    #ulFeatureList li {
        height: 100px;
    }

    #divLinkGroup a:last-child {
        margin-left: 20px;
    }
}

/*small-screen-pc*/

@media only screen and (min-width:768px) {
    #divLogoContainer div .logo-tagline {
        display: inline-block;
    }
}

/*medium-screen-pc*/

@media only screen and (min-width:993px) {
    #ulFeatureList li {
        height: 80px;
    }
}

.toolbar {
    z-index: 0;
}

.toolbar .logo {
    display: none;
}

.btn {
    background-color: #42abf5 !important;
}

.container {
    padding: 0px;
}

.fa-heart {
    color: red;
    padding: 0 5px;
}

#divContent {
    background: black;
    color: white;
}

.used-by {
    text-align: center;
    margin-top: 20px;
}

.flixloves-logo {
    width: 100px;
    height: auto;
}

.used-by-logos{
    margin-top: 10px;
}