<v-layout row wrap id="divContent">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <v-flex sm12>
        <div id='divLogoContainer'>
            <div class="margin-left-20px">
                <img class="responsive-img" src="/img/fort_js_logo_200_137.png" alt="FortJs logo" />
                <span class="app-name">FortJs</span>
            </div>
        </div>
    </v-flex>
    <v-flex sm12 offset-md1 md10 offset-xl-2 xl8 class="margin-top-40px">
        <div id="divOverview">
            <span style="font-size: 20px;font-weight: 500;">
                Write beautiful server code and create maintainable app using FortJs
            </span>
            <br><br>
            Component based MVC web framework for nodejs targeting good code structures & modularity.
        </div>
        <div id="divLinkGroup">
            <v-btn color="error" href="tutorial/get-started">Get Started</v-btn>
            <v-btn color="secondary" href="https://github.com/ujjwalguptaofficial/fortjs" target="_blank">Github <i
                    class="margin-left-10px fab fa-github"></i></v-btn>
            <v-btn color="secondary" target="_blank" href="https://gitter.im/fortjs/Lobby">
                Get Help
                <i class="margin-left-10px fab fa-gitter"></i>
            </v-btn>
        </div>
        <div class="margin-top-50px top-border">
            <ul id="ulFeatureList">
                <li>
                    <div class="li-header">Fort Based</div>
                    <span class="li-body"><a href="https://github.com/ujjwalguptaofficial/fort">Fort</a> is an
                        architecture on top of MVC</span>
                </li>
                <li>
                    <div class="li-header">Next Gen Code</div>
                    <span class="li-body">Create your app in typescript or es6</span>
                </li>
                <li>
                    <div class="li-header">Modular</div>
                    <span class="li-body">FortJs provides components to make apps more modular</span>
                </li>

                <li>
                    <div class="li-header">Fun To Create</div>
                    <span class="li-body">You are not creating an app but a fort <i
                            class="fab fa-fort-awesome"></i></span>
                </li>
                <li>
                    <div class="li-header">Fully Customizable</div>
                    <span class="li-body">Use your favourite view engine or configure your session store and more...</span>
                </li>
                <li>
                    <div class="li-header">Beautiful code</div>
                    <span class="li-body">Code written for FortJs are more beautiful & readable</span>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <a target="_blank" title="github" href="https://github.com/ujjwalguptaofficial/fortjs">
                <img style="background-color: white;border-radius: 25px;" class="responsive-img" src="/img/github.svg"
                    alt="github logo" />
            </a>
            <a target="_blank" class="margin-left-20px" title="twitter handle"
                href="https://twitter.com/ujjwal_kr_gupta">
                <img class="responsive-img" src="/img/twitter.svg" alt="twitter logo" />
            </a>
            <a target="_blank" class="margin-left-20px" title="gitter" href="https://gitter.im/fortjs">
                <img style="height:50px;width:50px;padding-top: 8px;" class="responsive-img" src="/img/gitter.svg"
                    alt="github logo" />
            </a>
            <a target="_blank" class="margin-left-20px" title="npm" href="https://www.npmjs.com/package/fortjs">
                <img style="height:50px;width:50px;padding-top: 8px;" class="responsive-img" src="/img/Npm-logo.svg"
                    alt="npm logo" />
            </a>
            <a target="_blank" class="margin-left-20px" title="travis"
                href="https://travis-ci.org/ujjwalguptaofficial/fortjs">
                <img style="height:50px;width:50px;padding-top: 8px;" class="responsive-img" src="/img/travis.png"
                    alt="travis logo" />
            </a>
            <a target="_blank" class="margin-left-20px" title="meidum" href="https://medium.com/fortjs">
                <svg style="background: white;" class="svgIcon-use" width="45" height="45" viewBox="0 0 45 45">
                    <path
                        d="M5 40V5h35v35H5zm8.56-12.627c0 .555-.027.687-.318 1.03l-2.457 2.985v.396h6.974v-.396l-2.456-2.985c-.291-.343-.344-.502-.344-1.03V18.42l6.127 13.364h.714l5.256-13.364v10.644c0 .29 0 .342-.185.528l-1.848 1.796v.396h9.19v-.396l-1.822-1.796c-.184-.186-.21-.238-.21-.528V15.937c0-.291.026-.344.21-.528l1.823-1.797v-.396h-6.471l-4.622 11.542-5.203-11.542h-6.79v.396l2.14 2.64c.239.292.291.37.291.768v10.353z">
                    </path>
                </svg>
            </a>
        </div>
        <div class="text-center margin-top-20px">
            Created with <i class="fas fa-heart"></i> by <a href="https://ujjwalguptaofficial.github.io/">Ujjwal Gupta</a>
        </div>

    </v-flex>
</v-layout>